
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		/*font-size: 16pt;*/
	}

	.container
	{
		padding: 0 40px;
		width: 778px;
	}

	/* Lists */

		ul.icons
		{
		}	
		
			ul.icons li
			{
			}

			ul.icons li a
			{
				/*width: 1.75em;*/
			}

	/* Item */
	
		.item
		{
			/*margin-bottom: 20px;*/
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		width: 200px;
	}

	#logo
	{
		width:200px;
		height:59px;
	}
	
		#logo .image
		{
			position: relative;
			margin: 0 0 0.5em 0;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-left: 200px;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 200px;
	}
	
	.barchart { width: 90% }