
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 14px;
	}

	h2
	{
		font-size: 36px;
		letter-spacing: 0;
		font-weight: 300;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#logo {
		margin: 10px 20px;
		width:75px;
		height: 40px;
		cursor: default;
		display:block;
		background:transparent url('images/logo-alt.png') no-repeat 50% 50%;
		background-size:contain;
	}
		
		
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		margin-left: 0;
	}
	
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding-top:60px;
		margin-left: 0;
	}
	
		#main > section
		{
			padding: 2em 0 2em 0;
		}
	
			.fotito-container {
				margin:0 auto;
			}